
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#top {
    background-color: lightblue;
    padding-bottom: 10px;
}
#box {
    border: 2px solid blue;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

h1 {
    padding-top: 20px;
    text-align: center;
}

h3 {
    text-align: center;
}



#Weight {
    

    text-align: center;
}

h4 {
    padding-top:35px;
    text-align: center;
}